<div class="animated fadeIn">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <strong>Process Definitions</strong>
                    <div class="callout callout-primary">
                        <small class="text-muted">Deployed</small>
                        <br>
                        <strong class="h4">{{DEFINITIONS_COLLECTION.length}}</strong>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-borderless table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Process Name</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let definition of definitions">
                                <td>{{definition.key}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-success btn-sm"
                                        (click)="startInstance(definition.id)">Start</button>
                                    <button class="btn btn-sm btn-danger"
                                        (click)="openConfirmationModal(content, 'delete the selected deployment', deleteDefinition, definition.deploymentId)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="DEFINITIONS_COLLECTION.length" [(page)]="definitionsPage"
                        [pageSize]="pageSize" (pageChange)="refreshDefinitionsTable()">
                    </ngb-pagination>

                    <!--
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="refreshDefinitions()">
                        <option [ngValue]="2">2 items per page</option>
                        <option [ngValue]="4">4 items per page</option>
                        <option [ngValue]="6">6 items per page</option>
                        </select>
                    -->
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <strong>Process Instances</strong>
                    <div class="row">
                        <div class="col">
                            <div class="callout callout-primary">
                                <small class="text-muted">Total</small>
                                <br>
                                <strong class="h4">{{INSTACES_COLLECTION.length}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div class="callout callout-success">
                                <small class="text-muted">Active</small>
                                <br>
                                <strong class="h4">{{active_instances}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div class="callout callout-warning">
                                <small class="text-muted">Completed</small>
                                <br>
                                <strong class="h4">{{completed_instances}}</strong>
                            </div>
                        </div>
                        <div class="col">
                            <div class="callout callout-danger">
                                <small class="text-muted">Suspended</small>
                                <br>
                                <strong class="h4">{{suspended_instances}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-borderless table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Started At</th>
                                <th scope="col">Process Defitinion</th>
                                <th scope="col" class="text-center">State</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let instance of instances">
                                <td>{{instance.startTime | date:'short'}}</td>
                                <td>{{instance.processDefinitionKey}}</td>
                                <td class="text-center">
                                    <span *ngIf="instance.state == 'ACTIVE'; else notActive">
                                        <span class="badge badge-success">{{instance.state}}</span>
                                    </span>
                                    <ng-template #notActive>
                                        <span *ngIf="instance.state == 'SUSPENDED'; else otherState">
                                            <span class="badge badge-danger">{{instance.state}}</span>
                                        </span>
                                        <ng-template #otherState>
                                            <span class="badge badge-warning">{{instance.state}}</span>
                                        </ng-template>
                                    </ng-template>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-primary btn-sm"
                                        (click)="copyToClipboard(instance.id)">Copy ID</button>
                                    <button type="button" class="btn btn-warning btn-sm"
                                        *ngIf="instance.state==='ACTIVE'"
                                        (click)="suspendInstance(instance.id, true)">Suspend</button>
                                    <button type="button" class="btn btn-primary btn-sm"
                                        *ngIf="instance.state==='SUSPENDED'"
                                        (click)="suspendInstance(instance.id, false)">Resume</button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="openConfirmationModal(content, 'delete the selected instance', deleteInstance, instance.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="INSTACES_COLLECTION.length" [(page)]="instancesPage"
                        [pageSize]="pageSize" (pageChange)="refreshInstancesTable()">
                    </ngb-pagination>

                    <!--
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="refreshInstances()">
                        <option [ngValue]="2">2 items per page</option>
                        <option [ngValue]="4">4 items per page</option>
                        <option [ngValue]="6">6 items per page</option>
                        </select>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Please confirm</h4>
    </div>
    <div class="modal-body">
        Are you sure you want to {{doOperation}} ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="c(false)">Cancel</button>
        <button type="button" class="btn btn-success" (click)="c(true)">Yes</button>
    </div>
</ng-template>